/* .jumbotron {
    background: url(../assets/Home/drew-beamer-Se7vVKzYxTI-unsplash.jpg);
    background-image: transparant;
    background-size: cover;
    height: 75vh;
    text-align: center;
    margin-top: 55px;
}

.jumbotron .container{
    text-align: left;
    margin-top: -130px;
    margin-right: 300px;
} 

.jumbotron .display-5 {
    margin-top: 200px;
}

.jumbotron p {
    font-size: 18px;
}

.jumbotron h1 {
    font-size: 28px;
}

.jumbotron hr {
    border-color: #6100e8;
    width: 70px;
    border-width: 3px;
}

.jumbotron .btn {
    border-radius: 0px;
} */

.jumbotron {
    background: url(../assets/Home/drew-beamer-Se7vVKzYxTI-unsplash.jpg);
    background-image: transparant;
    background-size: cover;
    text-align: center;
}

.jumbotron .container{
    text-align: left;
    margin-top: 70px;
    margin-right: 300px;
} 

.mt-10 {
    margin-top: 10rem;
}

.home1{
    background-color: #FDB05E;
}

.home2{
    background-color: #E9ECF5;
}

.home3{
    background-color: #0D276B;
}

.home4{
    background-color: #F1554C;
}

.btn-pc{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-pc-color{
    color: #fff;
    background-color: #F1554C;
    border-color: #F1554C;
    opacity: 1;
}

.btn-pc-color:hover{
    color: #fff;
    background-color: #F1554C;
    border-color: #F1554C;
    opacity: 0.7;
}

.cover-pc {
    background: url(../assets/Product-Catalog/slidebean-_6rmAEDLtiQ-unsplash-1.jpg);
    background-image: transparant;
    background-size: cover;
    text-align: center;
}

.pc-mr {
    margin-right: 10rem;
}

.pc-ml {
    margin-left: 10rem;
}

.cover-cu {
    background: url(../assets/Product-Catalog/chalo-garcia-RBoGC_OJvWs-unsplash-1.jpg);
    background-image: transparant;
    background-size: cover;
    text-align: center;
}